@inject DialogService DialogService

<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; gap:10px; padding:20px;">
    <span>Veuillez entrer le mot de passe :</span>

    <RadzenPassword  @bind-Value="Password" Style="width:250px" Placeholder="Mot de passe" />

    <div style="display:flex; gap:10px; margin-top:10px;">
        <RadzenButton Text="OK" Click="Submit" Style="width:80px;" />
        <RadzenButton Text="EXIT" Click="Cancel" Style="width:80px;" ButtonStyle="ButtonStyle.Secondary" />
    </div>
</div>

@code {
    private string Password { get; set; }

    private void Submit()
    {
        DialogService.Close(Password);
    }

    private void Cancel()
    {
        DialogService.Close(null);
    }
}
